

body  {padding-left: 50px;
      font-family: Verdana;
      line-height: 190%
      background-color: white;
}

hr {
  display: block;
  border-width: 1px;
  border-color: lightblue;
}


header {
  font-family:serif;
  font-size: 14px;
}

footer {
  font-family: serif;
  font-size: 12px;
}

table{
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 0px;
}
