body  {padding-left: 50px;
      font-family: Verdana, Helvatica;
      line-height: 190%
      background-color: white;
}

hr {
  display: block;
  border-width: 1px;
  border-color: lightblue;
}


header {
  font-family: Papyrus, Lucida Handwriting, cursive, Trebuchet MS;
  font-size: 12px;
}

footer {
  font-family: serif;
  font-size: 12px;
}
