<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="./../assets/css/style.css"></head>
  <body>
    <header>
      Sample Website created as an assignment for the {{ site.training }} training.<br/><br/><hr/><br/>
      <b><a href = "https://sanitharao.github.io/twtsess/">Home</a></b><br/>
    </header>
    <main>
      <div>
       {{ content }}
      </div>
    </main>
    <footer><br/><hr/><br/>
      {% include common.md %}
    </footer>
  </body>
</html>
