<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css"></head>
  <body>
    <header>
      <p>Sample Website created as an assignment for the <code> {{ site.training }} </code> training.<hr/></p><br/>
      <a href = "https://sanitharao.github.io/twtsession/">Home Page</a>
    </header>
    <main>
      <div>
       {{ content }}
      </div>
    </main>
    <footer><br/><hr/><br/>
      {% include common.md %}
    </footer>
  </body>
</html>
